@{
    ViewBag.Title = "About Our Company";
}

<div class="row">
    <div class="col-md-4">
        <center>
            <p>
                <br />
                <br />
                <b>Prestige Worldwide, wide, wide, wide.</b>
                <br />
                <br />
                <b>Prestige Worldwide.</b>
                <br />
                <br />
                - The first word in entertainment.
                - First word.
                <br />
                <br />
                - Management.
                - Financial portfolios.
                <br />
                <br />
                - Insurance.
                - Computers.
                <br />
                <br />
                - Black leather gloves.
                - Research and development.
                <br />
                <br />
                Putting in the man-hours to study
                the science of what you need.
                <br />
                <br />
                Last week we put Liquid Paper
                on a bee...
                <br />
                <br />
                ...and it died.
                <br />
                <br />
                - Security.
                - Security.
                <br />
                <br />
                - And...
                - And.
                <br />
                <br />
                - Possibly you.
                - Possibly you.
                <br />
                <br />
                - Oh, this is classic. This is...
                - We'd like to present...
                <br />
                <br />
                ...the world premiere of Prestige
                Worldwide's first music video...
                <br />
                <br />
                ...by our first act, Huff and Doback.
            </p>
        </center>
    </div>
    <div class="pull-right">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZR6Z6q8RjBs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
    </div>
 </div>